body {
  background: bisque;
}

h1,
p {
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
  width: 800px;
  max-width: 100%;
  border-radius: 20px;
}

.navigation-links {
  text-align: center;
}

.navigation-links a {
  margin: 0 10px;
  color: brown;
}
